{% extends 'app/base.html' %}
{% load static %}
{% block title %}Bottomwear{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class  = 'list-group'>
        <a href = "{% url 'bottomwear' %}" class = "list-group-item list-group-item-action"
        aria-current = "true">All Bottomwear</a>

        <a href = "{% url 'bottomweardata' 'red Tap' %}" class = "list-group-item list-group-item-action"
        aria-current = "true">red Tap</a>

        <a href = "{% url 'bottomweardata' 'Zara' %}" class = "list-group-item list-group-item-action"
        aria-current = "true">Zara</a>

        <a href = "{% url 'bottomweardata' 'Asian' %}" class = "list-group-item list-group-item-action"
        aria-current = "true">Asian</a>

        <a href = "{% url 'bottomweardata' 'Peter england' %}" class = "list-group-item list-group-item-action"
        aria-current = "true">Peter england</a>

        

        <a href = "{% url 'bottomweardata' 'below' %}" class = "list-group-item list-group-item-action"
        aria-current = "true"> Below 1000</a>

        <a href = "{% url 'bottomweardata' 'above' %}" class = "list-group-item list-group-item-action"
        aria-current = "true"> Above 1000</a>
    </div>
  </div>
  <div class="col-sm-8">
   <div class = "row">
      {% for product in bottomwear %}
      <div class = "col-sm-4 text-center mb-4">
        <a href = "{% url 'product-detail' product.id %}" class = "btn"
           <div class = "item">
              <img src = "{{ product.product_image.url }}" alt = "" height = "250" class = "">
            
               <div class = "fw-bold">{{product.title}}</div>
               
               
               <div class = "fw-bold">{{product.description}}</div>
               
               <small class = "fw-light text-decoration-line-through">
               
                
               {{product.selling_price}}</small>
               <div class = "fw-bold">Rs. {{product.disounted_price}}</div>    
            </div>
        </a>
      </div>
      {% endfor %}
   </div>
  </div>
 </div>
</div>

{% endblock main-content %}